@import "imports/common_styles.css";

/* main
--------------------*/
main {
  background-color: var(--light-grey);
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.about-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
}
section {
  /* background-color: deepskyblue; */
  width: 100%;
}
section a {
  margin-top: 2rem;
}
h1 {
  font-family: var(--century-gothic);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
}
h2 {
  font-family: var(--futura);
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.post-text {
  min-width: 306px;
}
blockquote {
  font-family: var(--century-gothic);
  font-weight: 600;
  font-style: italic;
  color: var(--blue-gray);
  border-left: 3px solid var(--light-blue);
  padding-left: 1rem;
  margin: 2rem 1rem 2rem 1rem;
}
.post-container {
  width: 100%;
  color: var(--black);
  margin: 0 auto;
}
.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
em {
  font-family: var(--century-gothic);
  font-weight: 500;
}
figcaption {
  display: block;
  margin-bottom: 1rem;
}
/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  .about-wrapper {
    width: 75%;
  }
  section {
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
  }
  h1 {
    font-size: 1.375rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .post-image {
    width: 524px;
    height: 324px;
  }
  .post-text {
    min-width: 524px;
  }
}
@media only screen and (min-width: 992px) {
  section {
    width: 85%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 90%;
    flex-direction: row;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
  .about-wrapper {
    flex: 2;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1600px) {
  .about-wrapper {
    flex: 3;
  }
  .line-wrapper {
    width: 100%;
  }
  section {
    width: 70%;
  }
  .post-image {
    width: 720px;
    height: 445px;
  }
  .post-text {
    min-width: 720px;
  }
}
@media only screen and (min-width: 1800px) {
  section {
    width: 70%;
    margin: 0 auto;
  }
}
