@import "imports/common_styles.css";

/* main
--------------------*/

main {
  margin: 0 auto;
}
.main-container {
  background-image: url("../images/main_background_image_mobile.jpg");
  background-size: contain;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  height: 670px;
}
.main-heading {
  max-width: 85%;
  display: inline-block;
}
.main-heading p {
  display: block;
  text-align: right;
  color: var(--navy);
  padding: 0 2rem;
  margin-top: 0.5rem;
}
strong {
  text-transform: uppercase;
}
h1 {
  display: inline-block;
  background-color: var(--gold);
  font-family: var(--adobe-caslon);
  font-size: 2rem;
  font-weight: 400;
  color: var(--black);
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 6px 12px #00000029;
}
.quote {
  margin: 230px auto 0 auto;
  background-color: #00000066;
  padding: 0.5rem 1rem 1rem 1rem;
}
.quote p {
  display: block;
  margin: 0 auto;
  font-family: var(--century-gothic);
  font-size: 1.125rem;
  font-style: italic;
}
.quote p:nth-child(1):before {
  content: "\201D";
  font-size: 2rem;
}
.quote p:nth-child(3) {
  font-family: var(--open-sans);
  font-size: 1rem;
  font-style: normal;
  margin-top: 10px;
  color: var(--gold);
}
.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.content-container {
  background-color: var(--white);
  color: var(--black);
  width: 85%;
  margin: 0 auto;
}
.feature-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.feature-image {
  margin: 0 2rem 2rem 0;
  width: 306px;
  height: 188px;
}
.feature-text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  height: 200px;
  max-width: 90%;
  overflow: hidden;
}
/* container */
.slideshow-container {
  max-width: 100%;
  margin: 0 auto;
}
/* carousel */
.slideshow {
  height: 430px;
  overflow: hidden;
}
/* slider */
.post-wrapper {
  height: 100%;
  width: 400%;
  transition: all 0.3s;
  display: flex;
  /* border: 1px solid red; */
  /* transform: translate(-0%); */
}
/* .post-wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  gap: 25px;
} */
/* section */
.post-container {
  flex-basis: 100%;
  display: flex;
}

#post-divider {
  display: none;
}
.view {
  opacity: 1;
  pointer-events: all;
}
.post-text {
  display: block;
  margin-top: 0;
  height: 150px;
  overflow: hidden;
  /* background-color: violet; */
}
.post-image {
  display: block;
  width: 306px;
  height: 188px;
  margin: 0 0 1rem 0;
}
.info-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.info-container p {
  color: #5e7c88;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
h2,
h3 {
  font-family: var(--century-gothic);
  font-size: 1.25rem;
  font-weight: 400;
}
h4 {
  font-family: var(--adobe-caslon);
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* background-color: aqua; */
}
.post-link {
  text-align: center;
  margin: 6rem auto 4rem auto;
}
.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* background-color: greenyellow; */
}
.arrow-wrapper div:nth-child(1) {
  flex: 1;
  margin-right: 10px;
  /* background-color: hotpink; */
}
.arrow-wrapper div:nth-child(5) {
  flex: 1;
  margin-left: 10px;
}
.arrow-wrapper ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.circle-wrapper {
  display: flex;
}
.circle {
  /* background-color: var(--navy); */
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--navy);
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.selected {
  background-color: var(--navy);
}
.previous,
.next {
  cursor: pointer;
}
.fa-chevron-circle-left {
  margin-right: 1rem;
  color: var(--navy);
}
.fa-chevron-circle-right {
  margin-left: 1rem;
  color: var(--navy);
}


/* styles that change
--------------------*/
@media only screen and (min-width: 360px) {
  .slideshow-container {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .main-container {
    background-image: url("../images/main_background_image_tablet.jpg");
    background-size: contain;
    height: 952px;
  }
  .quote {
    margin-top: 480px;
  }
  .feature-wrapper {
    flex-direction: row;
  }
  h2,
  h3 {
    font-size: 1.375rem;
  }
  h4 {
    margin-top: 0;
  }
  .feature-image {
    width: 524px;
    height: 324px;
  }
  .feature-text {
    max-width: 80%;
  }
  /* container */
  .slideshow-container {
    width: 100%;
  }
  /* carousel */
  .slideshow {
  }
  .post-text {
    max-width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .main-container {
    background-image: url("../images/main_background_image.jpg");
  }
  .main-heading p {
    font-size: 1.375rem;
  }
  h1 {
    font-size: 3.75rem;
    margin-top: 100px;
  }
  .quote {
    margin-top: 220px;
  }
  .quote p {
    font-size: 1.5rem;
  }
  .quote p:nth-child(1):before {
    font-size: 3rem;
  }
  .quote p:nth-child(3) {
    font-size: 1.25rem;
  }
  .content-wrapper {
    flex-direction: row;
    width: 85%;
    /* background-color: chartreuse; */
  }
  h2,
  h3 {
    font-size: 1.75rem;
  }
  .featured {
    margin-right: 2rem;
    /* background-color: crimson; */
  }
  .recent-posts {
    margin-right: 2rem;
  }
  .content-container {
    width: 66.666666%;
    /* background-color: darkorange; */
  }
}
@media only screen and (min-width: 1660px) {
  .main-container {
    background-image: url("../images/main_background_image-crop.jpg");
    background-size: cover;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    height: 1000px;
  }
  h1 {
    margin-top: 150px;
  }
  .quote {
    margin-top: 380px;
  }
  .content-container {
    width: 75%;
  }
  /* .post-container {
    margin: 0 auto;
  } */
  .feature-image {
    width: 524px;
    height: 324px;
  }
  /* carousel */
  .slideshow {
    height: 550px;
  }
  .post-image {
    width: 492px;
    height: 304px;
  }
  h4 {
    font-size: 1.5rem;
  }
  .info-container p {
    font-size: 1.125rem;
  }
  .line-wrapper {
    width: 100%;
  }
}
