@import "imports/common_styles.css";

/* main
--------------------*/

.content-wrapper {
  display: flex;
  flex-direction: column;
}
section {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#first-post {
  margin-top: 0;
}
h1 {
  font-family: var(--century-gothic);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
}
h4 {
  font-family: var(--adobe-caslon);
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* background-color: aqua; */
}
.divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post-text {
  margin-top: 0;
  height: 150px;
  overflow: hidden;
}
.post-container {
  margin: 0 auto;
  display: none;
}
.post-container:nth-child(1) {
  display: block;
}
.post-container:nth-child(2) {
  display: block;
}
.post-container:nth-child(3) {
  display: block;
}
.post-container:nth-child(4) {
  display: block;
}
.post-container:nth-child(5) {
  display: block;
}
.post-container:nth-child(6) {
  display: block;
}
.post-container:nth-child(7) {
  display: block;
}
.post-container:nth-child(8) {
  display: block;
}
.post-container:nth-child(9) {
  display: block;
}
.post-container:nth-child(10) {
  display: block;
}
.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
.info-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.info-container p {
  padding-right: 10px;
  color: #5e7c88;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
#post-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#load-button {
  margin-top: 0;
  margin-bottom: 4rem;
}
/* loading styles */
.post-loader {
  text-align: center;
  margin: 3rem auto 3rem auto;
}
.error {
  color: white;
  font-size: 1.125rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #be3e35;
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}
.spinner {
  border: 8px solid #5c73f240;
  border-top: 8px solid #5c73f2;
  margin: 50px 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.375rem;
  }
  .post-wrapper {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    gap: 25px;
    /* background-color: darkorange; */
  }
  .post-text {
    max-width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 1.75rem;
  }
  .content-wrapper {
    width: 85%;
    flex-direction: row;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
  section {
    flex: 2;
  }
}
@media only screen and (min-width: 1600px) {
  section {
    flex: 3;
    /* background-color: blueviolet; */
  }
  .post-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* background-color: darkorange; */
  }
  .post-container {
    width: 70%;
  }
  .post-image {
    width: 524px;
    height: 324px;
  }
}
