@import "imports/common_styles.css";

/* main
--------------------*/

.content-wrapper {
  display: flex;
  flex-direction: column;
}
.blog-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
}
section {
}
section a {
  margin-top: 2rem;
}
.post-text {
}
h1,
h3,
h4 {
  font-family: var(--century-gothic);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
}
h2 {
  font-family: var(--adobe-caslon);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.post-container {
  width: 100%;
  color: var(--black);
}
.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
.info-container {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.info-container p {
  padding-right: 10px;
  color: #5e7c88;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 100%;
}
.em {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
em {
  display: block;
  font-family: var(--adobe-caslon);
  font-size: 1.125rem;
  font-weight: 800;
  padding-left: 1rem;
  padding-right: 4rem;
}
figcaption {
  display: block;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  font-style: italic;
}
.comments {
  margin-bottom: 2rem;
}
.comments-default {
  color: var(--navy);
  display: block;
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--light-grey);
}
.comment-container {
  display: flex;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--light-grey);
  padding: 2rem 1rem;
}
.comment-image {
  width: 100px;
  margin: 0 1rem 0 0;
}
h3, h4 {
  margin: 0;
}
.comment-text {
  margin: 0;
}
#comment-line {
  margin-top: 2rem;
  margin-bottom: 0;
  /* background-color: blueviolet; */
}
.info-container {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
.info-container p {
  padding-right: 10px;
  color: #5e7c88;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
/* comment-form */
#comment-divider {
  margin-top: 4rem;
}
.leave-comment {
  background-color: var(--light-grey);
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
#comment-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.comment-input {
  color: var(--navy);
  padding: 0.5rem;
  border: 3px solid var(--light-blue);
  outline: none;
}
#comment-button {
  margin-top: 3rem;
}
#comment {
  height: 150px;
  font-family: var(--open-sans);
  font-size: 1rem;
}
.comment-error {
  font-size: 0.875rem;
  text-align: left;
  color: red;
  visibility: hidden;
}
.comment-error:before {
  content: "\002A";
}
#success-message {
  color: green;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}
#success-message:before {
  content: "\2713";
  font-size: 1.5rem;
  margin-right: 3px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  .blog-wrapper {
    width: 75%;
  }
  .post-image {
    width: 524px;
    height: 324px;
  }
  h1 {
    font-size: 1.375rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  .post-text {
    max-width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 85%;
    flex-direction: row;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
  .blog-wrapper {
    flex: 2;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3,
  h4 {
    font-size: 1.5rem;
  }
  .info-container p {
    font-size: 1rem;
  }
  .comments-default {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1600px) {
  .blog-wrapper {
    flex: 3;
  }
  section {
    width: 70%;
    margin: 0 auto;
  }
  .line-wrapper {
    width: 100%;
  }
}
