@import "imports/common_styles.css";

/* main
--------------------*/
main {
  background-color: var(--light-grey);
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.blog-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
}
section a {
  margin-top: 2rem;
}
h1,
h3,
h4 {
  font-family: var(--century-gothic);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
}
h2 {
  font-family: var(--adobe-caslon);
  color: var(--navy);
  font-size: 1.375rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.post-container {
  width: 100%;
  color: var(--black);
}
.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
blockquote {
  font-size: 1.125rem;
  font-weight: 600;
  font-style: italic;
  color: #5e7c88;
  border-left: 3px solid var(--light-blue);
  padding-left: 1rem;
  margin: 2rem 1rem 2rem 1rem;
}
.info-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#gradiant-border {
  border-bottom: none;
  position: relative;
}
#gradiant-border:after {
  content: "";
  background: -webkit-linear-gradient(
    left,
    var(--light-blue) 0%,
    var(--light-blue) 25%,
    #fff 100%
  );
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.info-container p {
  color: #5e7c88;
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  margin-top: 0;
  margin-right: 6px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 100%;
}
.em {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
em {
  display: block;
  font-family: var(--adobe-caslon);
  font-size: 1.125rem;
  font-weight: 800;
  padding-left: 1rem;
  padding-right: 4rem;
}
figcaption {
  font-size: 0.875rem;
  display: block;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-style: italic;
}
.comments {
  margin-bottom: 2rem;
}
.comments-default {
  font-family: var(--open-sans);
  color: var(--navy);
  display: block;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #d2d6d9cc;
}
.comment-container {
  display: flex;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #d2d6d999;
  padding: 2rem 1rem;
}
.comment-image {
  width: 100px;
  margin: 0 1rem 0 0;
}
h3,
h4 {
  margin: 0;
}
#comment-line {
  margin-top: 2rem;
  margin-bottom: 0;
  /* background-color: blueviolet; */
}

/* comment-form */
#comment-divider {
  margin-top: 4rem;
}
.leave-comment {
  background-color: #d2d6d999;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
#comment-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.comment-input {
  color: var(--navy);
  padding: 0.5rem;
  border: 3px solid var(--light-blue);
  outline: none;
}
#comment-author {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  font-weight: bold;
}
#comment-text {
  padding: 0;
  margin: 0;
}
#comment-button {
  margin-top: 3rem;
}
#comment {
  height: 150px;
  font-family: var(--open-sans);
  font-size: 1rem;
}
.comment-error {
  font-size: 0.875rem;
  text-align: left;
  color: red;
  visibility: hidden;
}
.comment-error:before {
  content: "\002A";
}
#success-message {
  color: green;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}
#success-message:before {
  content: "\2713";
  font-size: 1.5rem;
  margin-right: 3px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/* modal */
#my-image {
  cursor: pointer;
  transition: 0.3s;
}
#my-image:hover {
  opacity: 0.85;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin-top: 70px;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000e6;
}
.modal-content {
  margin: auto;
  display: block;
  width: 85%;
  height: auto;
  max-width: 1080px;
  max-height: 633px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  .blog-wrapper {
    width: 75%;
  }
  .post-image {
    width: 524px;
    height: 324px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .post-text {
    max-width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 85%;
    flex-direction: row;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
  .blog-wrapper {
    flex: 2;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3,
  h4 {
    font-size: 1.5rem;
  }
  .info-container p {
    font-size: 1rem;
  }
  .comments-default {
    font-size: 1.25rem;
  }
  .post-image {
    width: 622px;
    height: 384px;
  }
  /* modal */
  .modal {
    margin-top: 97px;
  }
}
@media only screen and (min-width: 1600px) {
  .blog-wrapper {
    flex: 3;
  }
  section {
    width: 70%;
    margin: 0 auto;
  }
  .line-wrapper {
    width: 100%;
  }
  .post-image {
    width: 720px;
    height: 445px;
  }
}
